{% extends "layout.html" %}
{% block body %}
  <link href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Overview of I/O Devices
          </h1>
          <ol class="breadcrumb">
              <li>
                  <i class="fa fa-dashboard"></i>  <a href="{{ url_for('homepage')}}">Start</a>
              </li>
          </ol>
      </div>
  </div>
  <!-- /.row -->
  {% include "security/_messages.html" %}

  <h2>Input</h2>
  <div class="table-responsive">
      <table class="table table-striped">
          <thead>
              <tr>
                  <th>Name</th>
                  <th>Current value</th>
                  <th>Pin</th>
                  <th>Description</th>
              </tr>
          </thead>
          <tbody>
            {% for value in values %}
                <tr>
                    <td>{{ value[1] }}</td>
                    <td>{{ value[7] }}</td>
                    <td>{{ value[4] }}</td>
                    <td>{{ value[2] }}</td>
                </tr>
            {% else %}
            {% endfor %}
          </tbody>
      </table>
    </div>

  <h2>Output</h2>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th></th>
                    <th>Name</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
              {% for dev in outputDevices %}
                <tr>
                  <td>
                    <form role="form">
                      <div class="form-group">
                        <input type="checkbox" name="toggle{{ dev.id }}" id="toggle{{ dev.id }}">
                      </div>
                    </form>
                  </td>
                  <td>{{ dev.name }}</td>
                  <td>{{ dev.description }}</td>
                </tr>
                <script type="text/javascript">
                  togg{{ dev.id }} = 0;
                  var xhttp;

                  if (window.XMLHttpRequest) {
                      xhttp = new XMLHttpRequest();
                  } else {
                      // code for IE6, IE5
                      xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                  }

                  $(function() {
                    $("[name='toggle{{ dev.id }}']").bootstrapSwitch();
                    if ("{{ dev.state }}" == "True")
                      devState = true;
                    else
                      devState = false;
                    $('input[name="toggle{{ dev.id }}"]').bootstrapSwitch('state', devState);
                    if ("{{ auth }}" == "False")
                      auth = true;
                    else
                      auth = false;
                    $("[name='toggle{{ dev.id }}']").bootstrapSwitch('disabled', auth);
                  });

                  $('#toggle{{ dev.id }}').on('switchChange.bootstrapSwitch', function (event, state) {
                    if ("{{ dev.state }}" == "True")
                      devState = true;
                    else
                      devState = false;
                    if (togg{{ dev.id }} == 0 && devState == state)
                      ;
                    else {
                      xhttp.open("POST", "{{ url_for('homepage') }}", true);
                      xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                      xhttp.send("device={{ dev.id }}&state=" + state);
                    }
                    togg{{ dev.id }} = togg{{ dev.id }}+1;
                  });
                </script>
              {% else %}
              {% endfor %}
            </tbody>
          </table>
        </div>
{% endblock %}
