{% extends "layout.html" %}
{% set active_page = "overview" %}
{% block body %}
  <link href="{{ url_for('static', filename='css/bootstrap-switch.css') }}" rel="stylesheet">
  <script src="{{ url_for('static', filename='js/bootstrap-switch.js') }}"></script>

  <!-- Page Heading -->
  <div class="row">
      <div class="col-lg-12">
          <h1 class="page-header">
              Overview of I/O Devices
          </h1>
          <ol class="breadcrumb">
              <li>
                  <i class="fa fa-dashboard"></i>  <a href="{{ url_for('homepage')}}">Start</a>
              </li>
          </ol>
      </div>
  </div>
  <!-- /.row -->
  {% include "security/_messages.html" %}

  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Input</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Current value</th>
                        <th>Pin</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                  {% for value in values %}
                      <tr>
                          <td>{{ value[1] }}</td>
                          <td id="value{{ value[0] }}">{{ value[7] }}</td>
                          <td>{{ value[4] }}</td>
                          <td>{{ value[2] }}</td>
                      </tr>
                  {% else %}
                  Nothing here yet
                  {% endfor %}
                </tbody>
            </table>
        </div>
        <script>


          setInterval(function update_values() {
            $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
            $.getJSON($SCRIPT_ROOT+"/refresh", function(data) {
                    for (var key in data.values) {
                      $("#value" + key).text(data.values[key].toString());
                      //translate python true/false to js
                      if (data.values[key] == 0)
                        devState = false;
                      else
                        devState = true;
                      //set state to state from database
                      $('input[name="toggle' + key +'"]').bootstrapSwitch('state', devState, true);
                    }
            });
          }, 5000);
        </script>
      </div>
  </div>

  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">Output</h3>
      </div>
      <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th></th>
                        <th>Name</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody>
                  {% for dev in outputDevices %}
                    <tr>
                      <td>
                        <form role="form">
                          <div class="form-group">
                            <input type="checkbox" name="toggle{{ dev.id }}" id="toggle{{ dev.id }}">
                          </div>
                        </form>
                      </td>
                      <td>{{ dev.name }}</td>
                      <td>{{ dev.description }}</td>
                    </tr>
                    <script type="text/javascript">
                      remote = false;
                      var xhttp;

                      if (window.XMLHttpRequest) {
                          xhttp = new XMLHttpRequest();
                      } else {
                          // code for IE6, IE5
                          xhttp = new ActiveXObject("Microsoft.XMLHTTP");
                      }

                      $(function() {
                        //register checkbox as bootstrapSwitch
                        $("[name='toggle{{ dev.id }}']").bootstrapSwitch();

                        //translate python true/false to js
                        if ("{{ dev.state }}" == "True")
                          devState = true;
                        else
                          devState = false;
                        //set state to state from database
                        $('input[name="toggle{{ dev.id }}"]').bootstrapSwitch('state', devState, true);

                        //translate python true/false to js
                        if ("{{ auth }}" == "False")
                          auth = true;
                        else
                          auth = false;
                        //disable bootstrapSwitch if not authenticated
                        $("[name='toggle{{ dev.id }}']").bootstrapSwitch('disabled', auth);
                      });

                      $('#toggle{{ dev.id }}').on('switchChange.bootstrapSwitch', function (event, state) {
                        //translate python true/false to js
                        if ("{{ dev.state }}" == "True")
                          devState = true;
                        else
                          devState = false;

                        //send state change to flask server
                        xhttp.open("POST", "{{ url_for('homepage') }}", true);
                        xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
                        xhttp.send("device={{ dev.id }}&state=" + state);
                      });
                    </script>
                  {% else %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">I2C</h3>
            </div>
            <div class="panel-body">
              <div class="table-responsive">
                  <table class="table table-striped">
                      <thead>
                          <tr>
                              <th>Name</th>
                              <th>Measured value</th>
                              <th>Address</th>
                              <th>Description</th>
                          </tr>
                      </thead>
                      <tbody>
                        {% for value in i2cValues %}
                            <tr>
                                <td>{{ value[1] }}</td>
                                <td id="value{{ value[0] }}">{{ value[7] }}</td>
                                <td>{{ value[4] }}</td>
                                <td>{{ value[2] }}</td>
                            </tr>
                        {% else %}
                        Nothing here yet
                        {% endfor %}
                      </tbody>
                  </table>
              </div>
            </div>
        </div>
{% endblock %}
